body{
height:100%;
width:100%;
color: white;
background-color: white;
z-index: -1;
padding:0;
margin:0px;

}
.row
{
  margin:0px;
  padding:0px;
}
.container-fluid{
  padding-left:0px;
  padding-right:0px;
  margin:0px;
}
@media(min-width:769px){
.m_navbar{display:none;}
.sidenav{display:none;}
.navbar{
width:100%;
padding-left: 15px;
position: fixed;
border-radius: 0px;
background-color:black;
height:11vh;
z-index:1;
padding-right: 0;

}
#navtext{  color:grey;  padding-top:20px;
}
#navtext:hover{color:white;}
#navtext:active{color:#4ba1ae;}
.navtext p:active{
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color:#4ba1ae;
}
.c_text{
  text-align: left;
}
#logo{
  height:70px;
   width: 155px;
}
#pages{

color:grey;
font-size: 20px;
text-align: center;
}

#Team{height:250vh;}
}

#home{
  background-image: url('BG.png');
  height: 100vh;
  background-size: contain;
}
#h_text{
margin-top: 50vh;
}
#hometext{

text-align: center;
color: white;
  font-size: 30px;
}
#margins{
  border-style: solid;
  border-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-top-width:0px;
  border-bottom-width:0px;

}
#About,#Team{
  height: 100vh;
  background-color: #4ba1ae;

}
#ContactUs{height:50vh;background-color:grey;}
  #Team{height:250vh;}
#head{
font-size: 40px;
font-weight: bold;
}

#AboutText{
  margin-left: 90px;
  height:80vh;
  text-align: justify;
  padding-top:25vh;
  width:80%;
  color:white;
  font-size:20px;
}
#TeamText{
  margin-left: 90px;
  text-align: justify;
  padding-top:20vh;
  width:80%;
  color:white;
  font-size:20px;
}
#ContactText{
  margin-left: 90px;
  text-align: justify;
  padding-top:0vh;
  width:80%;
  color:white;
  font-size:20px;
}
.img1{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat',sans-serif;
  color: white;
}
.show{
  height: 250px;
  width: 250px;
}
#teampics{
  height: 250px;
  width: 250px;
}
#board{
  padding: 5px;
  font-size: 15px;

  position: relative;

  text-align: left;
  top: 40px;
}
#initials{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: right;
  bottom: 40px;
}
.space1{
  width:100%;
  height:30px;
}

.col1{
  margin-left:65px;
}
.leftbox{
display:flex;
justify-content: flex-end;
}
.centrebox{
  display:flex;
  justify-content: center;
}
.rightbox{
  display: flex;
  justify-content: flex-start;
}
@media(max-width:768px){
  .navbar{display:none;}
  .m_navbar{
  width:100%;
  position: fixed;
  border-radius: 0px;
  background:black;
  height:11vh;
  padding: 15px;
  padding-top:15px;
  z-index:1;
  }
  #logo{
    height:50px;
     width: 115px;
     margin-left: 0px;
  }
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 8vh;
      display: none;
  }

  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      color: white;
      display: block;
      transition: 0.3s;
  }

  #hometext{font-size: 20px;}
  #AboutText{
    margin-left: 70px;
    height:80vh;
    text-align: justify;
    padding-top:25vh;
    width:80%;
    color:white;
    font-size:15px;
  }
  .show{
    height: 150px;
    width: 150px;
  }
  #teampics{
    height: 150px;
    width: 150px;
  }
  #board{
    padding: 5px;
    font-size: 12px;

    position: relative;

    text-align: left;
    top: 35px;
  }
  #initials{
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: right;
    bottom: 35px;
  }
  .space1{
    width:100%;
    height:20px;
  }
  .col1{
    margin-left:30px;
  }
  #Team{height:200vh;}
}
#icon{
  margin-top:30px;
}
#icon1{
  height:50px;
  width: 25px;
  padding-top: 10px;
  margin-left: 0px;
}
#icon2{
  height:50px;
  width: 45px;

  padding-top: 10px;
  margin-left: 35px;
}
#icon3{
height:50px;
width: 45px;

padding-top: 10px;
margin-left: 30px;
}

@media(max-width:550px){
  #AboutText{
      margin-left: 50px;
      height:80vh;
      text-align: justify;
      padding-top:20vh;
      width:80%;
      color:white;
      font-size:12px;
    }
    #TeamText,#ContactText{
      margin-left: 90px;
      text-align: justify;
      padding-top:20vh;
      width:80%;
      color:white;
      font-size:12px;
    }
    .show{
      height: 100px;
      width: 100px;
    }
    #teampics{
      height: 100px;
      width: 100px;
    }
    #board{
      padding: 2px;
      font-size: 12px;

      position: relative;

      text-align: left;
      top: 30px;
    }
    #initials{
      font-size: 12px;
      font-weight: normal;
      position: relative;
      text-align: right;
      bottom: 30px;
    }
    .space1{
      width:100%;
      height:15px;
    }
    .col1{
      margin-left:20px;
    }
    #Team{height:150vh;}
#head{font-size: 20px;}
.contact2{
  display: flex;
  justify-content: center;
}

#icon1{
  height:35px;
  width: 20px;
  padding-top: 10px;
  margin-left: 10px;
}
#icon2{
  height:35px;
  width: 25px;
  padding-top: 10px;
  margin-left: 10px;
}
#icon3{
height:35px;
width: 25px;
padding-top: 10px;
margin-left: 10px;
}
  }
@media(max-width:400px){
  #hometext{

  text-align: center;
  color: white;
    font-size: 16px;
  }
  #AboutText{
    margin-left: 20px;
    height:80vh;
    text-align: justify;
    padding-top:20vh;
    width:80%;
    color:white;
    font-size:12px;
  }
  .contact2{
    display: flex;
    justify-content: flex-start;
  }

}
@media(max-width:374px){
  #head{
  font-size: 20px;
  font-weight: bold;
  }

  #TeamText,#ContactText{
    margin-left: 20px;
    text-align: justify;
    padding-top:20vh;
    width:80%;
    color:white;
    font-size:12px;
  }
  .show{
    height: 80px;
    width: 80px;
  }
  #teampics{
    height: 80px;
    width: 80px;
  }
  #board{
    padding: 2px;
    font-size: 10px;

    position: relative;
    text-align: left;
    top: 25px;
  }
  #initials{
    font-size: 10px;
    font-weight: normal;
    position: relative;
    text-align: right;
    bottom: 30px;
  }
  .space1{
    width:100%;
    height:15px;
  }
  .col1{
    margin-left:0px;
  }

}
