body{
height:100%;
width:100%;
color: white;
background-color: white;
z-index: -1;
padding:0;
margin:0px;

}
[class*="col-sm-"],[class*="col-md-"],[class*="col-xs-"],[class="*col-lg-"]
{
  padding:0px;
  margin:0px;
}
.row
{
  margin:0px;
  padding:0px;
}
#overlay
{
  position:fixed;
  top:0px;
  background-color:white;
  left:0px;
  width:100%;
  height:100%;
  z-index:1;
  opacity:0;
  display:block;
  transition:all 0.5s;
}
.container-fluid{
  padding-left:0px;
  padding-right:0px;
  margin:0px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 12; /* Stay on top */
    top: 0;
    left: 0;
    text-align:center;
    display:block;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition:all 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 17px;
    color:#efefef;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color:white;
    background-color:#111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
.sidenav .closebtn:hover
{
  color:#efefef;
  background-color:transparent;
}
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@keyframes down-up
{
  0%{transform: translateY(3px);
  }
  100%{transform:translateY(-3px);}
}
@keyframes fadeInView
{
  0%{transform:translateX(-100%);}
  50%{transform:translateX(10%);}
  100%{transform:translateX(0);}
}
#downi
{
  text-align:center;
  animation-name:down-up;
  animation-duration:0.5s;
  animation-delay:0.1s;
  animation-iteration-count:infinite;
}
#down-arrow
{
text-align: center;
color: white;
  font-size: 30px;
}
#hometext
{
  animation-delay:0.2s;
  animation-name:fadeInView;
  animation-duration:0.9s;
  animation-timing-function:ease-out;
}
@media(min-width:770px){
.m_navbar{display:none;}
.navbar{
display:none;
width:100%;
overflow:hidden;
padding-left: 15px;
position: fixed;
border-radius: 0px;
background-color:black;
z-index:1;
padding-right: 0;
animation-duration:0.1s;
}
.nav-text{
 border-top:4px solid transparent;
 color:grey;
  padding-top:20px;
  margin-left:12px;
  margin-right:12px;
}
.nav-text:not(.active):hover{color:white;}
.active{color:#4ba1ae;border-top:4px solid #4ba1ae;}
.c_text{
  text-align: left;
}
#logo{
  padding:5px;
  height:70px;
   width: 155px;
}
#pages{

color:grey;
font-size: 20px;
text-align: center;
}

#Team{height:250vh;}
}

#home{
  background-image: url('BG.png');
  height: 100vh;
  background-size: contain;
}
#menu-contact
{
  margin-right:20px;
}
#h_text{
margin-top: 40vh;
}
#hometext{

text-align: center;
color: white;
  font-size: 30px;
}
#margins{
  border-style: solid;
  border-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-top-width:0px;
  border-bottom-width:0px;

}
#About,#Team{
  height: 100vh;
  background-color: #4ba1ae;

}
#ContactUs{height:70vh;background-color:grey;}
  #Team{height:250vh;}
#head{
font-size: 40px;
font-weight: bold;
}

#AboutText{
  margin-left: 90px;
  height:80vh;
  text-align: justify;
  padding-top:25vh;
  width:80%;
  color:white;
  font-size:20px;
}
#TeamText{
  margin-left: 90px;
  text-align: justify;
  padding-top:20vh;
  width:80%;
  color:white;
  font-size:20px;
}
#ContactText{
  margin-left: 90px;
  text-align: justify;
  padding-top:0vh;
  width:80%;
  color:white;
  font-size:20px;
}
.img1{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat',sans-serif;
  color: white;
}
.show{
  height: 250px;
  width: 250px;
}
#teampics{
  height: 250px;
  width: 250px;
}
#board{
  padding: 5px;
  font-size: 15px;

  position: relative;

  text-align: left;
  top: 40px;
}
#initials{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: right;
  bottom: 40px;
}
.space1{
  width:100%;
  height:30px;
}

.col1{
  margin-left:65px;
}
.col2{margin-left:-65px;}
.leftbox{
display:flex;
justify-content: flex-end;
}
.centrebox{
  display:flex;
  justify-content: center;
}
.rightbox{
  display: flex;
  justify-content: flex-start;
}
@media(max-width:767px)
{.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 12; /* Stay on top */
    top: 0;
    left: 0;
    text-align:center;
    display:block;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition:all 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 14px;
    color:#efefef;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color:white;
    background-color:#111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}
.sidenav .closebtn:hover
{
  color:#efefef;
  background-color:transparent;
}
}
@media(max-width:769px){
  .navbar{display:none;}
  .m_navbar{
    display:none;
  width:100%;
  position: fixed;
  border-radius: 0px;
  background:black;
  height:11vh;
  padding: 15px;
  padding-top:15px;
  z-index:1;
  }
  #logo{
    height:50px;
     width: 115px;
     margin-left: 0px;
  }
  #hometext{font-size: 15px;}
  #AboutText{
    margin-left: 70px;
    height:80vh;
    text-align: justify;
    padding-top:25vh;
    width:80%;
    color:white;
    font-size:15px;
  }
#head{font-size: 30px;}
h2{
  font-size:20px;
}
  #ContactText{
    margin-left: 90px;
    text-align: justify;
    padding-top:0vh;
    width:80%;
    color:white;
    font-size:15px;
  }
  .show{
    height: 150px;
    width: 150px;
  }
  #teampics{
    height: 150px;
    width: 150px;
  }
  #board{
    padding: 5px;
    font-size: 12px;

    position: relative;

    text-align: left;
    top: 35px;
  }
  #initials{
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: right;
    bottom: 35px;
  }
  .space1{
    width:100%;
    height:20px;
  }
  .col1{
    margin-left:30px;
  }
  .col2{
    margin-left:-30px;
  }
  #Team{height:200vh;}
}
#icon{
  margin-top:30px;
}
#icon1{
  height:50px;
  width: 25px;
  padding-top: 10px;
  margin-left: 0px;
}
#icon2{
  height:50px;
  width: 45px;

  padding-top: 10px;
  margin-left: 35px;
}
#icon3{
height:50px;
width: 45px;

padding-top: 10px;
margin-left: 30px;
}

@media(max-width:550px){
  #AboutText{
      margin-left: 50px;
      height:80vh;
      text-align: justify;
      padding-top:20vh;
      width:80%;
      color:white;
      font-size:12px;
    }
    #TeamText,#ContactText{
      margin-left: 90px;
      text-align: justify;
      padding-top:20vh;
      width:80%;
      color:white;
      font-size:12px;
    }
    .show{
      height: 100px;
      width: 100px;
    }
    #teampics{
      height: 100px;
      width: 100px;
    }
    #board{
      padding: 2px;
      font-size: 12px;

      position: relative;

      text-align: left;
      top: 30px;
    }
    #initials{
      font-size: 12px;
      font-weight: normal;
      position: relative;
      text-align: right;
      bottom: 30px;
    }
    .space1{
      width:100%;
      height:15px;
    }
    .col1{
      margin-left:18px;
    }
    .col2{margin-left: -18px;}
    #Team{height:150vh;}
#head{font-size: 20px;}
.contact2{
  display: flex;
  justify-content: center;
}

#icon1{
  height:35px;
  width: 20px;
  padding-top: 10px;
  margin-left: 10px;
}
#icon2{
  height:35px;
  width: 25px;
  padding-top: 10px;
  margin-left: 10px;
}
#icon3{
height:35px;
width: 25px;
padding-top: 10px;
margin-left: 10px;
}
  }
@media(max-width:450px){
  #hometext{

  text-align: center;
  color: white;
    font-size: 14px;
  }
  #AboutText{
    margin-left: 20px;
    height:80vh;
    text-align: justify;
    padding-top:20vh;
    width:80%;
    color:white;
    font-size:12px;
  }
  .contact2{
    display: flex;
    justify-content: flex-start;
  }
  #head{
  font-size: 20px;
  font-weight: bold;
  }

  #TeamText,#ContactText{
    margin-left: 20px;
    text-align: justify;
    padding-top:20vh;
    width:80%;
    color:white;
    font-size:12px;
  }
  .show{
    height: 80px;
    width: 80px;
  }
  #teampics{
    height: 80px;
    width: 80px;
  }
  #board{
    padding: 2px;
    font-size: 10px;

    position: relative;
    text-align: left;
    top: 25px;
  }
  #initials{
    font-size: 10px;
    font-weight: normal;
    position: relative;
    text-align: right;
    bottom: 30px;
  }
  .space1{
    width:100%;
    height:15px;
  }
h2{font-size: 18px;}
#ContactText{
  padding-top:5vh;
  font-size: 11px;
}
}

@media(max-width:350px)
{  .show{
    height: 70px;
    width: 70px;
  }
  #teampics{
    height: 70px;
    width: 70px;
  }
  #board{
    padding: 2px;
    font-size: 10px;

    position: relative;
    text-align: left;
    top: 25px;
  }
  #initials{
    font-size: 10px;
    font-weight: normal;
    position: relative;
    text-align: right;
    bottom: 30px;
  }
  h2{font-size:13px;font-weight: bold;}
  #ContactText{
    font-size: 10px;
  }
}
@media only screen and (min-width:600px) and (max-width:768px)
{
  #hometext{

text-align: center;
color: white;
  font-size: 30px;
}
@media only screen and (min-width:769px) and (max-width:1191px)
{
  #menu-contact
  {
    margin-right:50px;
  }
}
@media only screen and (min-width:769px) and (max-width:1200px)
{
  #hometext
  {
    font-size:4rem;
  }
  #downi
  {
    margin-top:15%;
    width:4%;
    height:1em;
  }
}
