<!DOCTYPE html>
<html>
 <head>
   <title>IEEE-CS</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="discription" content="The official website of IEEE Computer Society, VIT University Vellore">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/team-style.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/events-style.css"/>
    <script src="/js/modernizr.js"></script>
    <script src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/smoothscroll.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="icon" href="/images/favicon.png"/>
  <style>
  .post{
		background-color: #faa41aad !important;
    padding: 2%;
    color: black;
		border: 0px !important;
	}
  #logo{
    height: 60px;
  }
  </style> 
  </head>
 <body>
   <div id="overlay" onclick="closeNav()"></div>

        <div class="container-fluid" id="main-content">
          <div class="row">
          <div class="gradient">
            <div class="navbar">
              <div class="row">
                <div class="logodiv col-sm-2">
                    <img id="logo" src="/images/newIEEECSlogo.png">
                </div>
                <div class="col-lg-4 col-md-3 hidden-sm"></div>
                <div class="pages col-lg-6 col-md-7 col-sm-9">
                  <div class="row">
                    <div id="pages" class="col-sm-12">
                    <a href="#homepage"><div class="navtext col-sm-2" ><p class="nav-text" id="menu-home">HOME</p></div></a>
                    <a href="#Aboutpage"><div class="navtext col-sm-2" ><p class="nav-text" id="menu-about">ABOUT</p></div></a>
                    <a href="#Eventspage"><div class="navtext col-sm-2"><p class="nav-text" id="menu-events">EVENTS</p></div></a>
                    <a href="#Teampage"><div class="navtext col-sm-2"><p class="nav-text" id="menu-team">TEAM</p></div></a>
                    <a href="#contactuspage"><div class="top-bar c_text col-sm-3 col-md-4 col-lg-3"><p class="nav-contact">CONTACT US</p></div></a>
                    </div>
                </div>
                </div>
              </div>
            </div>
                <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a href="#homepage" onclick="closeNav()">HOME</a>
                  <a href="#Aboutpage"  onclick="closeNav()">ABOUT</a>
                  <a href="#Eventspage" onclick="closeNav()">EVENTS</a>
                  <a href="#Teampage" onclick="closeNav()">TEAM</a>
                  <a href="#contactuspage" onclick="closeNav()">CONTACT US</a>
                </div>
              <div class="m_navbar">
                <div class="row">


                  <div class="col-xs-1">
                    <div class="row">
                          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                    </div></div>  <div class="col-sm-8 col-xs-6"></div>  <div class="logodiv col-xs-2">
                          <img id="logo" src="/images/newIEEECSlogo.png">
                      </div>
                  </div>
                  </div>
            <section id="homepage">
              <div id="home">
              <div class="row">
              <div style="margin-left:1%;margin-top:2%;" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
              <img style="width:100%;" src="/images/newIEEECSlogo.png"></img>
              </div></div>
              <div class="row">
                <div class="row">
              <div id="h_text">
              <p id="hometext">An elite group of engineers who specialize in<br> Computer Science.</p><br><br><br>
                <p id="down-arrow"><a href="#Aboutpage"><img id="downi" src="/images/arrow.png"/></a></p></div></div>
              </div>
            </div>
            </section>
            <div id="margins">


            <section id="Aboutpage">
              <div id="About">
                  <div id="AboutText" class="wow slideInDown"><br><p id="head">ABOUT US</p><br>
                    <p>IEEE-Computer Society is a student chapter in VIT University, Vellore. <br>Founded in 2012 by a group of tech enthusiasts, the chapter has been on an amazing journey ever since!
                      <br>Our chapter's mission is to foster innovation, learning and networking in the most happening areas of computing technologies and we have been doing so by conducting various workshops and events throughout the semester over the years.</p>
                      <p>Here, at IEEE-Computer Society, we believe that regardless of one's stream and interests, everyone can learn something from one another. We value a person's curiosity as much as we value knowledge. The exciting projects that our team members work on is sure to gratify the geek in you.
                    </p></div>
              </div>
            </section>

          <section id="Eventspage">
          <div class="timeline-sec row">
           <div id="TeamText"><br><p id="head" class="events-head">EVENTS</p></div>
           <div class="col-sm-1 col-lg-2 col-md-2 col-xs-1"></div>
          <div class="timeline col-sm-8 col-lg-8 col-md-8 col-xs-10">
  <div class="entry">
    <div class="title">
      <h3>Riviera '17</h3>
      <p>February '17</p>
    </div>
    <div class="body">
      <p>Riviera is the Annual International Sports and Cultural Carnival of the VIT University. In the spirit of the carnival, IEEE- Computer Society organizes informal events for the students.
        <br>For Riviera '17, IEEE-CS organized two events:<br>Jumble Ball<br>50-ka-funda.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>ARCS '17</h3>
      <p>March '17</p>
    </div>
    <div class="body">
      <p>ARCS is a technical colloquium hosted by IEEE-Computer Society (VIT), which aims at improving the knowledge of the young enthusiastic minds. The 2017 edition of ARCS had three workshops and one hack-a-thon.
        <br>It witnessed a participation of thousands of students from all over the country.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>Mechnovate '17</h3>
      <p>March '17</p>
    </div>
    <div class="body">
      <p>Mechnovate '17, an international mechanical symposium organised by ASME-VIT was the fourth edition of its kind. It attracted 2000+ students from around the country. As ASME VIT's technical partners, IEEE- Computer Society ensured smooth functioning of their online portal and website.
</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>ICMMM '17 </h3>
      <p>March '17</p>
    </div>
    <div class="body">
      <p>The International Conference on Materials, Manufacturing and Modelling (ICMMM) is an international conference which was hosted in VIT University, Vellore. It was organized by the School of Mechanical Engineering, VIT University and State University of New York, Binghamton, United States in association with ASME-VIT.
        We built and managed the online portal as well as the website for this conference. </p>

    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>Indian Rover Challenge</h3>
      <p>May '17</p>
    </div>
    <div class="body">
      <p>The Indian Rover Challenge (IRC), organised by Creation Labs, VIT Vellore is a robotics and space exploration based competition for students. The participants were required to design and build a Martian rover prototype and use that robot to compete in various tasks.
IEEE-Computer Society designed and developed the official website for the IRC Team, ensuring smooth online registration of their participants.</p>

    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>Team RoverX</h3>
      <p>May '17</p>
    </div>
    <div class="body">
      <p>Team RoverX, a part of Creation Labs in VIT University is a group of young, enthusiastic individuals who build Mars rovers by the year to display and compete at various platforms. Their prototype is used to compete in different international competitions including URC, ERC and UKURC.
IEEE-Computer Society partnered with Team RoverX and developed their official website.</p>

    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>graVITas '17</h3>
      <p>September '17</p>
    </div>
    <div class="body">
      <p>GraVITas is VIT University's international techno-management knowledge carnival. Being a technical chapter, IEEE-Computer Society actively participates in the fest by conducting workshops and events like Mozilla Webdev, Jumble coding and Gravitas Premiere League.</p>

    </div>
  </div>

</div>
</div>
          </section>

            <section id="Teampage">
              <div id="Team" class="row">
                <div class="row">
                  <div id="Team-content"><br><h2 id="head">TEAM</h2>
                    <p>Our members are dedicated tech enthusiasts who bring energy, ideas and pride to their work.<br>
                      We work hard, but we don't take ourselves too seriously. We enjoy what we do and that's what keeps us going.</p>
                  </div>
                </div>

                <div class="mobile">
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
                <div class="item heading active">
                <img src="/images/indresh.jpg" alt="President">
                <p class="post">Chair</p>
                <p class="member-name">Indresh Arora</p>
              </div>
                <div class="item heading">
                <img src="/images/abhinav.jpg" alt="Finace Head">
                <p class="post">Finance Head</p>
                <p class="member-name">Abhinav Jolly</p>
              </div>
              <div class="item heading">
                <img src="/images/lakshay.jpeg" alt="Jt. Secretary">
                <p class="post">Joint Secretary</p>
                <p class="member-name">Lakshay Nanda</p>
              </div>
                 <div class="item heading">
                <img src="/images/ananya.jpg" alt="Jt. Secretary">
                <p class="post">Joint Secretary</p>
                <p class="member-name">Ananya Khurana</p>
              </div>
                 <div class="item heading">
                <img src="/images/mehul.jpg" alt="Management Head">
                <p class="post">Management Head</p>
                <p class="member-name">Mehul Singhal</p>
              </div>
              <div class="item heading">
                <img src="/images/anant.jpg" alt="Technical Head">
                <p class="post">Technical Head</p>
                <p class="member-name">Anant Kakrania</p>
              </div>
              <div class="item heading">
                <img src="/images/priyansh.jpg" alt="Projects Head">
                <p class="post">Projects Head</p>
                <p class="member-name">Priyansh Jain</p>
              </div>
              <div class="item heading">
                <img src="/images/jagruta.jpeg" alt="PR Head">
                <p class="post">PR Head</p>
                <p class="member-name">Jagruta Advani</p>
              </div>
              <div class="item heading">
                <img src="/images/vishwas.jpeg" alt="Marketing and Outreach Head">
                <p class="post">Marketing and Outreach Head</p>
                <p class="member-name">Vishwas Bhanawat</p>
              </div>
              <div class="item heading">
                <img src="/images/harshita.jpg" alt="Operations and Events Head">
                <p class="post">Operations and Events Head</p>
                <p class="member-name">Harshita Sahni</p>
              </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</div>
                <div class="team-pc">
                <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-5"></div>
                <div class="heading col-md-2 col-lg-2 col-sm-2">
                  <img src="/images/indresh.jpg" alt="President">
                  <p class="post">Chair</p>
                  <p class="member-name">Indresh Arora</p>
                </div>
                </div>
                <br>
                <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-2"></div>
                <div class="heading col-md-2 col-lg-2 col-sm-2 ">
                  <img src="/images/abhinav.jpg" alt="Finace Head">
                  <p class="post">Finance Head</p>
                  <p class="member-name">Abhinav Jolly</p>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1"></div>
                <div class="heading col-md-2 col-lg-2 col-sm-2 ">
                  <img src="/images/lakshay.jpeg" alt="Jt. Secretary">
                  <p class="post">Joint Secretary</p>
                  <p class="member-name">Lakshay Nanda</p>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1"></div>
                <div class="heading col-md-2 col-lg-2 col-sm-2 ">
                  <img src="/images/ananya.jpg" alt="Jt. Secretary">
                  <p class="post">Joint Secretary</p>
                  <p class="member-name">Ananya Khurana</p>
                </div>
                </div>
                <br>
                <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-2"></div>
                <div class="heading col-md-2 col-lg-2 col-sm-2">
                  <img src="/images/mehul.jpg" alt="Management Head">
                  <p class="post">Management Head</p>
                  <p class="member-name">Mehul Singhal</p>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1"></div>
                <div class="heading col-md-2 col-lg-2 col-sm-2">
                  <img src="/images/anant.jpg" alt="Technical Head">
                  <p class="post">Technical Head</p>
                  <p class="member-name">Anant Kakrania</p>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1"></div>
                <div class="heading col-md-2 col-lg-2 col-sm-2">
                  <img src="/images/priyansh.jpg" alt="Projects Head">
                  <p class="post">Projects Head</p>
                  <p class="member-name">Priyansh Jain</p>
                </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2 col-lg-2 col-sm-2"></div>
                  <div class="heading col-md-2 col-lg-2 col-sm-2">
                    <img src="/images/harshita.jpg" alt="Operations and Events Head">
                    <p class="post">Operations and Events Head</p>
                    <p class="member-name">Harshita Sahni</p>
                  </div>
                  <div class="col-md-1 col-lg-1 col-sm-1"></div>
                  <div class="heading col-md-2 col-lg-2 col-sm-2">
                    <img src="/images/jagruta.jpeg" alt="PR Head">
                    <p class="post">PR Head</p>
                    <p class="member-name">Jagruta Advani</p>
                  </div>
                  <div class="col-md-1 col-lg-1 col-sm-1"></div>
                  <div class="heading col-md-2 col-lg-2 col-sm-2">
                    <img src="/images/vishwas.jpeg" alt="Marketing and Outreach Head">
                    <p class="post">Marketing and Outreach Head</p>
                    <p class="member-name">Vishwas Bhanawat</p>
                  </div>
                  </div>

               
                </div>
                </div>
                </div>
            </section>
            <section id="contactuspage">
                <div id="ContactUs">
                  <div class="row">
                    <div id="ContactText">
                      <div class="row">
                      <div class="footer">
                        <div class="col-xs-3">
                          <h2 id="links">Links</h2><p id="ieee-links" class="link"><a href="http://arcs.ieeecsvit.com" target="_blank">Arcs</a><br><a target="_blank" href="http://mozilla.ieeecsvit.com">Mozilla</a><br></p>
                          </div>
                          <div class="col-xs-1"></div>
                        <div class="col-xs-3" id="contact-mail"><h2>Contacts</h2><p class="link"><a href="mailto:ieeecs@vit.ac.in">ieeecs@vit.ac.in</a><br><a href="tel:8290642601">+91 8290642601</a></p></div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-3"><h2 id="policy">Privacy</h2><p id="policy" class="link"><a href="#">Privacy Policy</a></p></div>
                        </div>

                      </div>
                      <div class="row">
                        <div id="icon">
                        <a target="_blank" href="http://www.facebook.com/ieeecsvit"><img id="icon1" src="/images/icon1.png"></a><a target="_blank" href="http://www.github.com/IEEECS-VIT"><img id="icon2" src="/images/icon2.png"></a><a href="#"><img id="icon3" src="/images/locationicon.png"></a>
                      </div>
                        <div id="foot"><br><p>&#9400; 2019 IEEE - Computer Society </p></div></div>
                    </div>
                  </div>

                </div>
            </section>

          </div>


          </div>
        </div>
 </body>
  <script type="text/javascript">
    $(document).ready(function(){
      begin_scroll();
    })

     function begin_scroll(){
       w=$(window).width();
       var x1=$("#Aboutpage").offset().top,x2=$("#Eventspage").offset().top,x3=$("#Teampage").offset().top,x4=$("#contactuspage").offset().top;
       if(w<=768)
       {
           var h=$(".m_navbar").height();
        $(window).on("scroll",function(){
       var win_top=$(window).scrollTop();
       if(win_top>=x1-5)
       {
         //$(".m_navbar").css("height",h+'px');
         $(".m_navbar").css("display","block");
         $(".m_navbar").addClass("animated").addClass("slideInDown");
       }
       else
       {
           $(".m_navbar").css("display","none");
       }
       });
      }
       else
       {
       var h=$(".navbar").height();
       $(window).on("scroll",function(){
       var win_top=$(window).scrollTop();

       //About page
       if(win_top>=x1-5 && win_top<x2-5)
       {
         $("#menu-about").addClass("active");
       }
       else
       {
         $("#menu-about").removeClass("active");
       }

       //Events page
       if(win_top>=x2-5 && win_top<x3-5)
       {
         $("#menu-events").addClass("active");
       }
       else
       {
         $("#menu-events").removeClass("active");
       }
       //team page
       if(win_top>=x3-5 && win_top<($(document).height()-$(window).height())-20)
       {
         $("#menu-team").addClass("active");
       }
       else
       {
         $("#menu-team").removeClass("active");
       }

       //contact page
       // console.log(win_top);
       // console.log($(document).height()-$(window).height());
       if( win_top>=($(document).height()-$(window).height())-20)
       {
         $("#menu-contact").addClass("active");
       }
       else
       {
         $("#menu-contact").removeClass("active");
       }
       //navbar-show
       if(win_top>=x1-5)
       {
         $(".navbar").css("height",h+'px');
         $(".navbar").css("display","block");
         $(".navbar").addClass("animated").addClass("slideInDown");
       }
       else
       {
           $(".navbar").css("display","none");
       }
       });
     }
     $(window).on("resize",function(){
   w=$(window).width();
       var x1=$("#Aboutpage").offset().top,x2=$("#Eventspage").offset().top,x3=$("#Teampage").offset().top,x4=$("#contactuspage").offset().top;
       if(w<=768)
       {
           var h=$(".m_navbar").height();
        $(window).on("scroll",function(){
       var win_top=$(window).scrollTop();
       if(win_top>=x1-5)
       {
         //$(".m_navbar").css("height",h+'px');
         $(".m_navbar").css("display","block");
         $(".m_navbar").addClass("animated").addClass("slideInDown");
       }
       else
       {
           $(".m_navbar").css("display","none");
       }
       });
      }
       else
       {
       var h=$(".navbar").height();
       $(window).on("scroll",function(){
       var win_top=$(window).scrollTop();

       //About page
       if(win_top>=x1-5 && win_top<x2-5)
       {
         $("#menu-about").addClass("active");
       }
       else
       {
         $("#menu-about").removeClass("active");
       }

       //Events page
       if(win_top>=x2-5 && win_top<x3-5)
       {
         $("#menu-events").addClass("active");
       }
       else
       {
         $("#menu-events").removeClass("active");
       }
       //team page
       if(win_top>=x3-5 && win_top<($(document).height()-$(window).height())-20)
       {
         $("#menu-team").addClass("active");
       }
       else
       {
         $("#menu-team").removeClass("active");
       }

       //contact page
       // console.log(win_top);
       // console.log($(document).height()-$(window).height());
       if( win_top>=($(document).height()-$(window).height())-20)
       {
         $("#menu-contact").addClass("active");
       }
       else
       {
         $("#menu-contact").removeClass("active");
       }
       //navbar-show
       if(win_top>=x1-5)
       {
         $(".navbar").css("height",h+'px');
         $(".navbar").css("display","block");
         $(".navbar").addClass("animated").addClass("slideInDown");
       }
       else
       {
           $(".navbar").css("display","none");
       }
       });
     }
     });
     }

  function openNav() {
  var w=screen.width;
  if(w>1100){document.getElementById("mySidenav").style.width = "20%";}
  else if(w<=1100 && w>900){document.getElementById("mySidenav").style.width="25%"}
  else if(w<=900 && w>=768){document.getElementById("mySidenav").style.width="28%"}
  else{
    // console.log("mobile");
    document.getElementById("mySidenav").style.width="40%";}
    //document.getElementById("overlay").style.display="block";
   // document.body.style.overflowY="hidden";
}
/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
   // document.getElementById("overlay").style.display="none";
    //document.body.style.overflowY="scroll";
}
 </script>
 </html>
