.timeline {
  background:#efefef;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline-sec
{
  width:100%;
  background-color: transparent;
  padding-top:7%;

}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}

.entry .title h3 {
  margin: 0;
  font-weight:bold;
  color:black;
  font-size:140%;
}
.entry .title p {
  margin: 0;
  color:black;
  font-size: 110%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  color:black;
  line-height: 1.4em;
  font-size:30px;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color:black;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}
@media only screen and (max-width:767px)
{
  .timeline
  {
    width:100%;
    padding:80px 10px;
  }
.entry .title:before{
right:-13px;
}
.timeline-sec
{
padding:50px 10px;
}
.entry .body
{
font-size:20px;
}
}
@media only screen and (min-width:768px) and (max-width:1024px)
{
 .timeline-sec
{
  width:100%;
  background-color:transparent;
  padding:7% 11%;

}
.entry .body p
{
font-size:25px;
} 
}