body{
height:100%;
width:100%;
color: white;
background-color: white;
z-index: -1;
padding:0;
margin:0px;
font-family:'Montserrat',sans-serif;
overflow-x:hidden;
}
.top-bar
{
padding-right:30px !important;
}
@media only screen and (max-width:767px)
{
#Team-content h2
{
font-size:20px;
}
}
#Team-content
{margin-top:25%;
 margin-left:10%;
}
#Team-content p
{
font-size:20px;
}
.link a
{
  text-decoration: none;
  color:white;
}
.link a:hover
{
  text-decoration: none;
}
p{
  font-weight: 200!important;
}

#margins{
  background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#links
{
  text-align:left !important;
  padding-left:40px;
}
#ieee-links
{
  padding-left:40px;
  text-align: left !important;
}
#policy
{
  text-align:right;
  margin-right:20%;
}
.footer
{
  margin-left:1% !important;
  width:100% !important;
}
.events-head
{
  text-align:center !important;
  margin-bottom: 7%;
}
#contact-mail
{
  padding-left:6%;
}
[class*="col-sm-"],[class*="col-md-"],[class*="col-xs-"],[class="*col-lg-"]
{
  padding:0px;
  margin:0px;
}
.row
{
  margin:0px;
  padding:0px;
}
#overlay
{
  position:fixed;
  top:0px;
  background-color:white;
  left:0px;
  width:100%;
  height:100%;
  z-index:0;
  opacity:0;
  display:block;
  transition:all 0.5s;
  display: none;
}
.container-fluid{
  padding-left:0px;
  padding-right:0px;
  margin:0px;

}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 12; /* Stay on top */
    top: 0;
    left: 0;
    text-align:center;
    display:block;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition:all 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 17px;
    color:#efefef;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color:white;
    background-color:#111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
.sidenav .closebtn:hover
{
  color:#efefef;
  background-color:transparent;
}
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@keyframes down-up
{
  0%{transform: translateY(3px);
  }
  100%{transform:translateY(-3px);}
}
#downi
{
  text-align:center;
  animation-name:down-up;
  animation-duration:0.5s;
  animation-delay:0.1s;
  animation-iteration-count:infinite;
}
#down-arrow
{
text-align: center;
color: white;
  font-size: 30px;
}

@media only screen and (min-width:770px) and (max-width:1022px)
{
  #menu-contact
{
  padding-right:25px;
}
@media only screen and (min-width:1024px) and (max-width:1191px)
{
#menu-contact
{
  padding-right:30px;
}
}
}
@media(min-width:770px){
.m_navbar{display:none;}
.navbar{
display:none;
width:100%;
overflow:hidden;
padding-left: 15px;
position: fixed;
border-radius: 0px;
background-color:black;
z-index:1;
padding-right: 0;
animation-duration:0.1s;
}
.nav-text{
 border-top:4px solid transparent;
 color:grey;
  padding-top:20px;
  margin-left:12px;
  margin-right:12px;
}
.nav-text:not(.active):hover{color:white;}
.active{color:#4ba1ae;border-top:4px solid #4ba1ae;}
.c_text{
  text-align: left;
}
#logo{
  padding:5px;
  height:70px;
   width: 155px;
}
#pages{

color:grey;
font-size: 20px;
text-align: center;
}

}

#home{
  background-image: url('../images/BG.png');
  height: 100vh;
  background-size: contain;
}
#h_text{
margin-top: 40vh;
}
#hometext{

text-align: center;
color: white;
  font-size: 40px!important;
}
#margins{
  border-style: solid;
  border-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-top-width:0px;
  border-bottom-width:0px;


}
#About{
  height: 100vh;
}
#ContactUs{background-color:#0b0b0b;}
#head{
font-size: 40px;
font-weight: 600 !important;
}

#AboutText{
  margin-left: 90px;
  height:80vh;
  text-align: justify;
  padding-top:25vh;
  width:80%;
  color:white;
  font-size:20px;
}
#TeamText{
  padding-top:15vh;
}
#ContactText{
  text-align: center;
  padding-top:3vh;
  color:white;
  font-size:17px;
}


.img1{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat',sans-serif;
  color: white;
}
.show{
  height: 230px;
  width: 230px;
}
#teampics{
  height: 230px;
  width: 230px;
}
#board{
  padding: 5px;
  font-size: 20px;
  position: relative;
  text-align: left;
  top: 40px;
}
#initials{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: right;
  bottom: 40px;
}
.space1{
  width:100%;
  height:30px;
}

.col1{
  margin-left:65px;
}
.col2{margin-left:-65px;}
.leftbox{
display:flex;
justify-content: flex-end;
}
.centrebox{
  display:flex;
  justify-content: center;
}
.rightbox{
  display: flex;
  justify-content: flex-start;
}
@media(min-width:981px) and (max-width:1025px){
  .col1{
    margin-left: 40px;
  }
  .col2{
    margin-left:-40px;
  }
}
@media(min-width:769px) and (max-width:980px)
{
  .show{
    height:180px;
    width:180px;
  }
  #teampics{
    height:180px;
    width:180px;
  }
#pages{
  font-size: 15px;
  margin-left: 15px;
}
.col1{
  margin-left: 30px;
}
.col2{
  margin-left:-20px;
}
}

@media(max-width:769px)
{.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 12; /* Stay on top */
    top: 0;
    left: 0;
    text-align:center;
    display:block;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition:all 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 14px;
    color:#efefef;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color:white;
    background-color:#111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}
.sidenav .closebtn:hover
{
  color:#efefef;
  background-color:transparent;
}
}
@media(max-width:769px){
  .navbar{display:none;}
  .m_navbar{
    display:none;
  width:100%;
  position: fixed;
  border-radius: 0px;
  background:black;

  padding: 15px;
  padding-top:20px;
  z-index:1;
  }
  #logo{
    height:50px;
     width: 115px;
     margin-left: 0px;
  }
  #hometext{font-size: 15px;}
  #AboutText{
    margin-left: 70px;
    height:80vh;
    text-align: justify;
    padding-top:25vh;
    width:80%;
    color:white;
    font-size:15px;
  }
#head{font-size: 30px;}
h2{
  font-size:20px;
}
  #ContactText{
    margin-left: 90px;
    text-align:center;
    padding-top:0vh;
    width:80%;
    color:white;
    font-size:15px;
  }
  .show{
    height: 150px;
    width: 150px;
  }
  #teampics{
    height: 150px;
    width: 150px;
  }
  #board{
    padding: 5px;
    font-size: 12px;

    position: relative;

    text-align: left;
    top: 35px;
  }
  #initials{
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: right;
    bottom: 35px;
  }
  .space1{
    width:100%;
    height:20px;
  }
  .col1{
    margin-left:30px;
  }
  .col2{
    margin-left:-30px;
  }
}
#icon{
  margin-top:30px;
}
#icon1{
  height:50px;
  width: 25px;
  padding-top: 10px;
  margin-left: 0px;
}
#icon2{
  height:50px;
  width: 45px;

  padding-top: 10px;
  margin-left: 35px;
}
#icon3{
height:50px;
width: 45px;

padding-top: 10px;
margin-left: 30px;
}
@media(max-width:600px){
  #overlay{
    display: block;
  }
  #hometext
  {
    font-size:25px !important;
  }
  #AboutText{
      margin-left: 50px;
      height:80vh;
      text-align: justify;
      padding-top:20vh;
      width:80%;
      color:white;
      font-size:12px;
    }
    #ContactText{
      margin-left: 90px;
      text-align:center ;
      padding-top:20vh;
      width:80%;
      color:white;
      font-size:12px;
    }
    #TeamText
    {
      padding-top:20vh; 
  
    }

    .show{
      height: 100px;
      width: 100px;
    }
    #teampics{
      height: 100px;
      width: 100px;
    }
    #board{
      padding: 2px;
      font-size: 12px;

      position: relative;

      text-align: left;
      top: 30px;
    }
    #initials{
      font-size: 12px;
      font-weight: normal;
      position: relative;
      text-align: right;
      bottom: 30px;
    }
    .space1{
      width:100%;
      height:15px;
    }
    .col1{
      margin-left:18px;
    }
    .col2{margin-left: -18px;}
#head{font-size: 20px;}
.contact2{
  display: flex;
  justify-content: center;
}

#icon1{
  height:35px;
  width: 20px;
  padding-top: 10px;
  margin-left: 10px;
}
#icon2{
  height:35px;
  width: 25px;
  padding-top: 10px;
  margin-left: 10px;
}
#icon3{
height:35px;
width: 25px;
padding-top: 10px;
margin-left: 10px;
}
  }
@media(max-width:450px){
  #hometext{

  text-align: center;
  color: white;
    font-size: 14px;
  }
  #AboutText{
    margin-left: 20px;
    height:80vh;
    text-align: justify;
    padding-top:20vh;
    width:80%;
    color:white;
    font-size:12px;
  }
  .contact2{
    display: flex;
    justify-content: flex-start;
  }
  #head{
  font-size: 20px;
  font-weight: bold;
  }

  #TeamText{
    padding-top:20vh;
    color:white;
  }
  #ContactText{
    margin-left: 20px;
    text-align:center;
    padding-top:20vh;
    width:80%;
    color:white;
    font-size:12px;
  }
  .show{
    height: 80px;
    width: 80px;
  }
  #teampics{
    height: 80px;
    width: 80px;
  }
  #board{
    padding: 2px;
    font-size: 10px;

    position: relative;
    text-align: left;
    top: 25px;
  }
  #initials{
    font-size: 10px;
    font-weight: normal;
    position: relative;
    text-align: right;
    bottom: 30px;
  }
  .space1{
    width:100%;
    height:15px;
  }
h2{font-size: 18px;}
#ContactText{
  padding-top:5vh;
  font-size: 11px;
}
}

@media(max-width:350px)
{  .show{
    height: 70px;
    width: 70px;
  }
  #teampics{
    height: 70px;
    width: 70px;
  }
  #board{
    padding: 2px;
    font-size: 10px;

    position: relative;
    text-align: left;
    top: 25px;
  }
  #initials{
    font-size: 10px;
    font-weight: normal;
    position: relative;
    text-align: right;
    bottom: 30px;
  }
  h2{font-size:13px;font-weight: bold;}
  #ContactText{
    font-size: 10px;
  }
  .col2{
  margin-left: 10px;
  }
}
@media only screen and (min-width:600px) and (max-width:768px)
{
  #hometext{

text-align: center;
color: white;
  font-size: 30px;
}
@media only screen and (min-width:1024px) and (max-width:1191px)
{
#menu-contact
{
  padding-right:30px;
}
}
@media only screen and (min-width:769px) and (max-width:1200px)
{
  #hometext
  {
    font-size:3rem;
  }
  #downi
  {
    margin-top:15%;
    width:4%;
    height:1em;
  }
}

.timeline {
  width: 100%;
  max-width:800px;
  background:#efefef;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline-sec
{
  width:100%;
  background-color: #4ba1ae;
  padding:7% 20%;

}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -4px;
  z-index: 0;
}
.entry .title h3 {
  margin: 0;
  font-weight:bold;
  color:black;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  color:black;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  color:black;
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color:black;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}
@media only screen and (max-width:767px)
{
  .timeline
  {
    width:100%;
  }
  .timeline-sec
  {
    padding:50px 10px;
  }
}
@media only screen and (min-width:768px) and (max-width:1024px)
{
 .timeline-sec
{
  width:100%;
  background-color: #4ba1ae;
  padding:7% 10%;

}
}
#menu-contact
{
padding-right:30px;
}